USE [master]
GO
/****** Object:  Database [RTO]    Script Date: 17/08/2020 7:17:16 PM ******/
CREATE DATABASE [RTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PRAVANJAN2017\MSSQL\DATA\RTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PRAVANJAN2017\MSSQL\DATA\RTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RTO]
GO
/****** Object:  Table [dbo].[RTO_tblAdminChooseService]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblAdminChooseService](
	[ChooseServiceID_INT] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID_INT] [int] NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[ServiceName_VCR] [varchar](50) NOT NULL,
	[ChooseServiceCreateDate_DAT] [date] NULL,
	[ChooseServiceModifyDate_DAT] [date] NULL,
	[ChooseServiceActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblAdminChooseService] PRIMARY KEY CLUSTERED 
(
	[ChooseServiceID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblAssignMapping]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblAssignMapping](
	[AssignID_INT] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID_INT] [int] NULL,
	[StaffID_INT] [int] NULL,
	[CounterID_INT] [int] NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[AssignCreateDate_DAT] [datetime] NULL,
	[AssignModifyDate_DAT] [datetime] NULL,
	[AssignActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblAssignMapping] PRIMARY KEY CLUSTERED 
(
	[AssignID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblCentreDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblCentreDetails](
	[CentreID_INT] [int] IDENTITY(1,1) NOT NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[CentreLogo_VCR] [varchar](50) NULL,
	[CentreName_VCR] [varchar](50) NULL,
	[CentreEmailID_VCR] [varchar](50) NULL,
	[CentreMobileNo_VCR] [varchar](50) NULL,
	[CentreAddress_VCR] [nvarchar](500) NULL,
	[CentrePINCode_VCR] [varchar](20) NULL,
	[CentreCreateDate_DAT] [datetime] NULL,
	[CentreModifyDate_DAT] [datetime] NULL,
	[CentreActiveStatus_INT] [int] NULL,
	[CentreLoginStatus_INT] [int] NULL,
	[CentreTimeSet_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblCentreDetails] PRIMARY KEY CLUSTERED 
(
	[CentreID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblCounterDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblCounterDetails](
	[CounterID_INT] [int] IDENTITY(1,1) NOT NULL,
	[CounterName_VCR] [varchar](50) NULL,
	[CounterCode_VCR] [varchar](50) NULL,
	[DeviceCode_VCR] [varchar](50) NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[CounterCreateDate_DAT] [datetime] NULL,
	[CounterModifyDate_DAT] [datetime] NULL,
	[CounterActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblCounterDetails] PRIMARY KEY CLUSTERED 
(
	[CounterID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblDefaultAssignMapping]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblDefaultAssignMapping](
	[DefAssignID_INT] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID_INT] [int] NULL,
	[StaffID_INT] [int] NULL,
	[CounterID_INT] [int] NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[DefAssignCreateDate_DAT] [datetime] NULL,
	[DefAssignModifyDate_DAT] [datetime] NULL,
	[DefAssignActiveStatus_INT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblDemoVideo]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblDemoVideo](
	[DemoVideoID_INT] [int] IDENTITY(1,1) NOT NULL,
	[DemoVideoName_VCR] [varchar](50) NULL,
	[DemoVideoPath_VCR] [varchar](max) NULL,
	[DemoVideoDescription_VCR] [varchar](50) NULL,
	[DemoVideoCreateDate_DAT] [datetime] NULL,
	[DemoVideoModifyDate_DAT] [datetime] NULL,
	[DemoVideoActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_tblDemoVideo] PRIMARY KEY CLUSTERED 
(
	[DemoVideoID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblImportedDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblImportedDetails](
	[id] [float] NULL,
	[S#] [float] NULL,
	[Slot Date] [datetime] NULL,
	[Slot Time] [nvarchar](255) NULL,
	[Appl No#] [float] NULL,
	[Applicant] [nvarchar](255) NULL,
	[S/W/D/ of] [nvarchar](255) NULL,
	[Vehicle] [nvarchar](255) NULL,
	[Mobile No#] [float] NULL,
	[Booking Dt] [datetime] NULL,
	[Signature] [nvarchar](255) NULL,
	[CentreCode] [nvarchar](255) NULL,
	[BookedService] [nvarchar](255) NULL,
	[BookingMode] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblLoginCredential]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblLoginCredential](
	[LoginID_INT] [int] IDENTITY(1,1) NOT NULL,
	[LoginCode_VCR] [varchar](50) NOT NULL,
	[LoginEmailID_VCR] [varchar](50) NULL,
	[LoginPassword_VCR] [varchar](50) NULL,
	[LoginType_VCR] [varchar](50) NULL,
	[LoginActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblLoginCredential] PRIMARY KEY CLUSTERED 
(
	[LoginID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblServiceDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblServiceDetails](
	[ServiceID_INT] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName_VCR] [varchar](50) NULL,
	[ServiceShortName_VCR] [varchar](50) NULL,
	[ServiceType_VCR] [varchar](50) NULL,
	[ServiceCreateDate_DAT] [datetime] NULL,
	[ServiceModifyDate_DAT] [datetime] NULL,
	[ServiceActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblServiceDetails] PRIMARY KEY CLUSTERED 
(
	[ServiceID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblServiceTime]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblServiceTime](
	[ServiceTimeID_INT] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID_INT] [int] NULL,
	[CounterID_INT] [int] NULL,
	[StaffID_INT] [int] NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[TokenNo_INT] [int] NULL,
	[ServiceType_VCR] [varchar](50) NULL,
	[ServiceStartTime_DAT] [datetime] NULL,
	[ServiceEndTime_DAT] [datetime] NULL,
	[ServiceRunningStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblServiceTime] PRIMARY KEY CLUSTERED 
(
	[ServiceTimeID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblStaffDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblStaffDetails](
	[StaffID_INT] [int] IDENTITY(1,1) NOT NULL,
	[StaffCode_VCR] [varchar](50) NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[StaffName_VCR] [varchar](50) NULL,
	[StaffEmailID_VCR] [varchar](50) NULL,
	[StaffMobileNo_VCR] [varchar](50) NULL,
	[StaffCreateDate_DAT] [datetime] NULL,
	[StaffModifyDate_DAT] [datetime] NULL,
	[StaffActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblStaffDetails] PRIMARY KEY CLUSTERED 
(
	[StaffID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblSuperAdminDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblSuperAdminDetails](
	[SuperAdminID_INT] [int] IDENTITY(1,1) NOT NULL,
	[SuperAdminName_VCR] [varchar](50) NULL,
	[SuperAdminEmailID_VCR] [varchar](50) NULL,
	[SuperAdminMobileNo_VCR] [varchar](50) NULL,
	[SuperAdminAddress_VCR] [varchar](max) NULL,
	[SuperAdminCreateDate_DAT] [datetime] NULL,
	[SuperAdminModifyDate_DAT] [datetime] NULL,
	[SuperAdminActiveStatus_INT] [int] NULL,
 CONSTRAINT [PK_RTO_tblSuperAdminDetails] PRIMARY KEY CLUSTERED 
(
	[SuperAdminID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblTokenDetails]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblTokenDetails](
	[TokenID_INT] [int] IDENTITY(1,1) NOT NULL,
	[TokenNo_INT] [int] NULL,
	[ApplicationNo_VCR] [varchar](50) NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[ApplicantName_VCR] [varchar](50) NULL,
	[ApplicantSWDof_VCR] [varchar](50) NULL,
	[ApplicantMobileNo_VCR] [varchar](50) NULL,
	[ApplicantVehicle_VCR] [varchar](50) NULL,
	[ApplicantBookedDate_DAT] [datetime] NULL,
	[ApplicantBookedService_VCR] [varchar](50) NULL,
	[ApplicantBookedMode_VCR] [varchar](20) NULL,
	[ApplicantResult_VCR] [varchar](20) NULL,
	[TokenActiveStatus_INT] [int] NULL,
	[TokenSlotDate_DAT] [datetime] NULL,
	[TokenSlotTime_VCR] [varchar](50) NULL,
	[TokenStartTime_DAT] [datetime] NULL,
	[TokenEndTime_DAT] [datetime] NULL,
	[TokenTotServiceTime_VCR] [datetime] NULL,
	[CurrServiceName_VCR] [varchar](50) NULL,
	[CurrCounterCode_VCR] [varchar](50) NULL,
	[CurrStaffCode_VCR] [varchar](50) NULL,
	[CurrTokenState_VCR] [varchar](50) NULL,
 CONSTRAINT [PK_RTO_tblTokenDetails] PRIMARY KEY CLUSTERED 
(
	[TokenID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RTO_tblTokenHistory]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RTO_tblTokenHistory](
	[TokenHistoryID_INT] [int] IDENTITY(1,1) NOT NULL,
	[TokenNo_INT] [int] NULL,
	[ApplicationNo_VCR] [varchar](50) NULL,
	[CentreCode_VCR] [varchar](50) NULL,
	[ApplicantName_VCR] [varchar](50) NULL,
	[ApplicantSWDof_VCR] [varchar](50) NULL,
	[ApplicantMobileNo_VCR] [varchar](50) NULL,
	[ApplicantVehicle_VCR] [varchar](50) NULL,
	[ApplicantBookedDate_DAT] [datetime] NULL,
	[ApplicantBookedService_VCR] [varchar](50) NULL,
	[ApplicantBookedMode_VCR] [varchar](20) NULL,
	[ApplicantResult_VCR] [varchar](20) NULL,
	[TokenActiveStatus_INT] [int] NULL,
	[TokenSlotDate_DAT] [datetime] NULL,
	[TokenSlotTime_VCR] [varchar](50) NULL,
	[TokenStartTime_DAT] [datetime] NULL,
	[TokenEndTime_DAT] [datetime] NULL,
	[TokenTotServiceTime_VCR] [datetime] NULL,
	[CurrServiceName_VCR] [varchar](50) NULL,
	[CurrCounterCode_VCR] [varchar](50) NULL,
	[CurrStaffCode_VCR] [varchar](50) NULL,
	[CurrTokenState_VCR] [varchar](50) NULL,
 CONSTRAINT [PK_RTO_tblTokenHistory] PRIMARY KEY CLUSTERED 
(
	[TokenHistoryID_INT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dl_next_tkn_call]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dl_next_tkn_call](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ApplNo_VCR] [varchar](45) NULL,
	[Token_no] [int] NULL,
	[Vehicle_type] [varchar](45) NULL,
	[date] [varchar](45) NULL,
	[Status] [varchar](45) NULL,
	[pending_status] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dl_result]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dl_result](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DL_Token_No] [int] NULL,
	[Applicant_No] [varchar](45) NULL,
	[Result] [varchar](45) NULL,
	[Vehicle] [varchar](45) NULL,
	[Result_date] [varchar](45) NULL,
	[Status] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ll_exam_series_call]    Script Date: 17/08/2020 7:17:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ll_exam_series_call](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_token] [varchar](45) NULL,
	[to_token] [varchar](45) NULL,
	[status] [varchar](45) NULL,
	[date] [varchar](45) NULL,
	[time] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RTO_tblAdminChooseService] ON 

INSERT [dbo].[RTO_tblAdminChooseService] ([ChooseServiceID_INT], [ServiceID_INT], [CentreCode_VCR], [ServiceName_VCR], [ChooseServiceCreateDate_DAT], [ChooseServiceModifyDate_DAT], [ChooseServiceActiveStatus_INT]) VALUES (1, 2, N'OD13', N'DRIVING LICENCE', CAST(N'2020-08-14' AS Date), CAST(N'2020-08-14' AS Date), 1)
INSERT [dbo].[RTO_tblAdminChooseService] ([ChooseServiceID_INT], [ServiceID_INT], [CentreCode_VCR], [ServiceName_VCR], [ChooseServiceCreateDate_DAT], [ChooseServiceModifyDate_DAT], [ChooseServiceActiveStatus_INT]) VALUES (2, 1, N'OD13', N'LEARNERS LICENSE', CAST(N'2020-08-14' AS Date), CAST(N'2020-08-14' AS Date), 1)
INSERT [dbo].[RTO_tblAdminChooseService] ([ChooseServiceID_INT], [ServiceID_INT], [CentreCode_VCR], [ServiceName_VCR], [ChooseServiceCreateDate_DAT], [ChooseServiceModifyDate_DAT], [ChooseServiceActiveStatus_INT]) VALUES (1002, 9, N'OD13', N'DL TEST', CAST(N'2020-08-17' AS Date), CAST(N'2020-08-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblAdminChooseService] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblAssignMapping] ON 

INSERT [dbo].[RTO_tblAssignMapping] ([AssignID_INT], [ServiceID_INT], [StaffID_INT], [CounterID_INT], [CentreCode_VCR], [AssignCreateDate_DAT], [AssignModifyDate_DAT], [AssignActiveStatus_INT]) VALUES (1, 2, 1, 1, N'OD13', CAST(N'2020-08-14T10:54:35.587' AS DateTime), CAST(N'2020-08-14T10:54:35.587' AS DateTime), 0)
INSERT [dbo].[RTO_tblAssignMapping] ([AssignID_INT], [ServiceID_INT], [StaffID_INT], [CounterID_INT], [CentreCode_VCR], [AssignCreateDate_DAT], [AssignModifyDate_DAT], [AssignActiveStatus_INT]) VALUES (2, 1, 1, 1, N'OD13', CAST(N'2020-08-14T10:54:35.590' AS DateTime), CAST(N'2020-08-14T10:54:35.590' AS DateTime), 1)
INSERT [dbo].[RTO_tblAssignMapping] ([AssignID_INT], [ServiceID_INT], [StaffID_INT], [CounterID_INT], [CentreCode_VCR], [AssignCreateDate_DAT], [AssignModifyDate_DAT], [AssignActiveStatus_INT]) VALUES (1002, 2, 1, 1, N'OD13', CAST(N'2020-08-17T15:41:11.090' AS DateTime), CAST(N'2020-08-17T15:41:11.090' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblAssignMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblCentreDetails] ON 

INSERT [dbo].[RTO_tblCentreDetails] ([CentreID_INT], [CentreCode_VCR], [CentreLogo_VCR], [CentreName_VCR], [CentreEmailID_VCR], [CentreMobileNo_VCR], [CentreAddress_VCR], [CentrePINCode_VCR], [CentreCreateDate_DAT], [CentreModifyDate_DAT], [CentreActiveStatus_INT], [CentreLoginStatus_INT], [CentreTimeSet_INT]) VALUES (1, N'OD13', N'OD13', N'PURI', N'pravanjannayak986@gmail.com', N'7008151118', N'PURI', N'752108', CAST(N'2020-08-14T10:22:46.810' AS DateTime), CAST(N'2020-08-14T10:22:46.810' AS DateTime), 1, 0, 30)
INSERT [dbo].[RTO_tblCentreDetails] ([CentreID_INT], [CentreCode_VCR], [CentreLogo_VCR], [CentreName_VCR], [CentreEmailID_VCR], [CentreMobileNo_VCR], [CentreAddress_VCR], [CentrePINCode_VCR], [CentreCreateDate_DAT], [CentreModifyDate_DAT], [CentreActiveStatus_INT], [CentreLoginStatus_INT], [CentreTimeSet_INT]) VALUES (2, N'OD02', N'OD02', N'BBSR', N'shaktihelps@gmail.com', N'9465498732', N'BBSR', N'654654', CAST(N'2020-08-17T15:21:21.213' AS DateTime), CAST(N'2020-08-17T15:21:21.213' AS DateTime), 1, 0, 0)
INSERT [dbo].[RTO_tblCentreDetails] ([CentreID_INT], [CentreCode_VCR], [CentreLogo_VCR], [CentreName_VCR], [CentreEmailID_VCR], [CentreMobileNo_VCR], [CentreAddress_VCR], [CentrePINCode_VCR], [CentreCreateDate_DAT], [CentreModifyDate_DAT], [CentreActiveStatus_INT], [CentreLoginStatus_INT], [CentreTimeSet_INT]) VALUES (3, N'OD33', N'OD33', N'BBSR2', N'monsieurshakti@gmail.com', N'9879879879', N'BBSR2', N'321321', CAST(N'2020-08-17T15:22:04.523' AS DateTime), CAST(N'2020-08-17T15:22:04.523' AS DateTime), 1, 0, 0)
SET IDENTITY_INSERT [dbo].[RTO_tblCentreDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblCounterDetails] ON 

INSERT [dbo].[RTO_tblCounterDetails] ([CounterID_INT], [CounterName_VCR], [CounterCode_VCR], [DeviceCode_VCR], [CentreCode_VCR], [CounterCreateDate_DAT], [CounterModifyDate_DAT], [CounterActiveStatus_INT]) VALUES (1, N'Pcounter1', N'903097', N'1', N'OD13', CAST(N'2020-08-14T10:25:36.863' AS DateTime), CAST(N'2020-08-14T10:25:36.863' AS DateTime), 1)
INSERT [dbo].[RTO_tblCounterDetails] ([CounterID_INT], [CounterName_VCR], [CounterCode_VCR], [DeviceCode_VCR], [CentreCode_VCR], [CounterCreateDate_DAT], [CounterModifyDate_DAT], [CounterActiveStatus_INT]) VALUES (2, N'Pcounter2', N'419345', N'2', N'OD13', CAST(N'2020-08-14T10:25:47.677' AS DateTime), CAST(N'2020-08-14T10:25:47.677' AS DateTime), 1)
INSERT [dbo].[RTO_tblCounterDetails] ([CounterID_INT], [CounterName_VCR], [CounterCode_VCR], [DeviceCode_VCR], [CentreCode_VCR], [CounterCreateDate_DAT], [CounterModifyDate_DAT], [CounterActiveStatus_INT]) VALUES (3, N'Pcounter3', N'697249', N'3', N'OD13', CAST(N'2020-08-14T10:25:57.567' AS DateTime), CAST(N'2020-08-14T10:25:57.567' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblCounterDetails] OFF
GO
INSERT [dbo].[RTO_tblImportedDetails] ([id], [S#], [Slot Date], [Slot Time], [Appl No#], [Applicant], [S/W/D/ of], [Vehicle], [Mobile No#], [Booking Dt], [Signature], [CentreCode], [BookedService], [BookingMode]) VALUES (1, 1, CAST(N'2020-08-17T00:00:00.000' AS DateTime), N'11.00-11.10', 4522672519, N'ACHUTANANDA BRAHMA', N'JADUNATH BRHAMA', N'MCWOG', 9777168941, CAST(N'2019-04-12T00:00:00.000' AS DateTime), NULL, N'OD33', N'LL', N'ONLINE')
INSERT [dbo].[RTO_tblImportedDetails] ([id], [S#], [Slot Date], [Slot Time], [Appl No#], [Applicant], [S/W/D/ of], [Vehicle], [Mobile No#], [Booking Dt], [Signature], [CentreCode], [BookedService], [BookingMode]) VALUES (2, 2, CAST(N'2020-08-17T00:00:00.000' AS DateTime), N'11.00-11.10', 4749076119, N'BANSHIDHAR BISWAL', N'BRUNDABAN BISWAL', N'MCWOG', 9692321735, CAST(N'2020-06-01T00:00:00.000' AS DateTime), NULL, N'OD33', N'LL', N'ONLINE')
INSERT [dbo].[RTO_tblImportedDetails] ([id], [S#], [Slot Date], [Slot Time], [Appl No#], [Applicant], [S/W/D/ of], [Vehicle], [Mobile No#], [Booking Dt], [Signature], [CentreCode], [BookedService], [BookingMode]) VALUES (3, 3, CAST(N'2020-08-17T00:00:00.000' AS DateTime), N'11.00-11.10', 4526293919, N'BHABANI SHANKAR MOHAPATRA', N'RAJAKISHORE RANA', N'MCWOG', 9937335361, CAST(N'2019-05-12T00:00:00.000' AS DateTime), NULL, N'OD33', N'LL', N'ONLINE')
GO
SET IDENTITY_INSERT [dbo].[RTO_tblLoginCredential] ON 

INSERT [dbo].[RTO_tblLoginCredential] ([LoginID_INT], [LoginCode_VCR], [LoginEmailID_VCR], [LoginPassword_VCR], [LoginType_VCR], [LoginActiveStatus_INT]) VALUES (1, N'SU1', N'pravanjannayak218@gmail.com', N'Zng3ShpOtkTgSEyFvaMh9SW0trZIbMwroPAoZd8ewQk=', N'SuperAdmin', 1)
INSERT [dbo].[RTO_tblLoginCredential] ([LoginID_INT], [LoginCode_VCR], [LoginEmailID_VCR], [LoginPassword_VCR], [LoginType_VCR], [LoginActiveStatus_INT]) VALUES (2, N'OD13', N'pravanjannayak986@gmail.com', N'rwIppAV21vDJDmOibBZB4UeNaSKcMhakYaw5hLbAybg=', N'Admin', 1)
INSERT [dbo].[RTO_tblLoginCredential] ([LoginID_INT], [LoginCode_VCR], [LoginEmailID_VCR], [LoginPassword_VCR], [LoginType_VCR], [LoginActiveStatus_INT]) VALUES (4, N'OD13_A815539', N'anilsahoomca@gmail.com', N'', N'user', 1)
SET IDENTITY_INSERT [dbo].[RTO_tblLoginCredential] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblServiceDetails] ON 

INSERT [dbo].[RTO_tblServiceDetails] ([ServiceID_INT], [ServiceName_VCR], [ServiceShortName_VCR], [ServiceType_VCR], [ServiceCreateDate_DAT], [ServiceModifyDate_DAT], [ServiceActiveStatus_INT]) VALUES (1, N'LL', N'LL', N'ONLINE', CAST(N'2020-08-12T12:07:26.963' AS DateTime), CAST(N'2020-08-17T18:44:54.923' AS DateTime), 1)
INSERT [dbo].[RTO_tblServiceDetails] ([ServiceID_INT], [ServiceName_VCR], [ServiceShortName_VCR], [ServiceType_VCR], [ServiceCreateDate_DAT], [ServiceModifyDate_DAT], [ServiceActiveStatus_INT]) VALUES (2, N'DL', N'DL', N'ONLINE', CAST(N'2020-08-12T12:07:42.360' AS DateTime), CAST(N'2020-08-17T18:45:07.157' AS DateTime), 1)
INSERT [dbo].[RTO_tblServiceDetails] ([ServiceID_INT], [ServiceName_VCR], [ServiceShortName_VCR], [ServiceType_VCR], [ServiceCreateDate_DAT], [ServiceModifyDate_DAT], [ServiceActiveStatus_INT]) VALUES (3, N'HELPDESK', N'HD', N'OFFLINE', CAST(N'2020-08-12T12:07:55.893' AS DateTime), CAST(N'2020-08-12T12:07:55.893' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblServiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblStaffDetails] ON 

INSERT [dbo].[RTO_tblStaffDetails] ([StaffID_INT], [StaffCode_VCR], [CentreCode_VCR], [StaffName_VCR], [StaffEmailID_VCR], [StaffMobileNo_VCR], [StaffCreateDate_DAT], [StaffModifyDate_DAT], [StaffActiveStatus_INT]) VALUES (1, N'OD13_D805196', N'OD13', N'DR Suman Sahoo MBBS', N'sumanwebtown@gmail.com', N'9439100200', CAST(N'2020-08-14T10:50:06.293' AS DateTime), CAST(N'2020-08-14T10:50:06.293' AS DateTime), 1)
INSERT [dbo].[RTO_tblStaffDetails] ([StaffID_INT], [StaffCode_VCR], [CentreCode_VCR], [StaffName_VCR], [StaffEmailID_VCR], [StaffMobileNo_VCR], [StaffCreateDate_DAT], [StaffModifyDate_DAT], [StaffActiveStatus_INT]) VALUES (2, N'OD13_p505783', N'OD13', N'promejee sahoo', N'pro12.sahoo@gmail.com', N'8452152636', CAST(N'2020-08-17T16:46:32.480' AS DateTime), CAST(N'2020-08-17T16:46:32.480' AS DateTime), 1)
INSERT [dbo].[RTO_tblStaffDetails] ([StaffID_INT], [StaffCode_VCR], [CentreCode_VCR], [StaffName_VCR], [StaffEmailID_VCR], [StaffMobileNo_VCR], [StaffCreateDate_DAT], [StaffModifyDate_DAT], [StaffActiveStatus_INT]) VALUES (3, N'OD13_a244301', N'OD13', N'akash kumar', N'aa@gmail.com', N'8451263256', CAST(N'2020-08-17T17:02:33.007' AS DateTime), CAST(N'2020-08-17T17:02:33.007' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblStaffDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblSuperAdminDetails] ON 

INSERT [dbo].[RTO_tblSuperAdminDetails] ([SuperAdminID_INT], [SuperAdminName_VCR], [SuperAdminEmailID_VCR], [SuperAdminMobileNo_VCR], [SuperAdminAddress_VCR], [SuperAdminCreateDate_DAT], [SuperAdminModifyDate_DAT], [SuperAdminActiveStatus_INT]) VALUES (1, N'Pravanjan Nayak', N'pravanjannayak218@gmail.com', N'9438335070', N'Bhubaneswar', CAST(N'2020-08-14T10:11:18.683' AS DateTime), CAST(N'2020-08-14T10:11:18.683' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RTO_tblSuperAdminDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RTO_tblTokenDetails] ON 

GO
SET IDENTITY_INSERT [dbo].[RTO_tblTokenDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ll_exam_series_call] ON 

INSERT [dbo].[tbl_ll_exam_series_call] ([id], [from_token], [to_token], [status], [date], [time]) VALUES (1, N'1', N'8', N'2', N'17/08/2020', N'16:57 55')
INSERT [dbo].[tbl_ll_exam_series_call] ([id], [from_token], [to_token], [status], [date], [time]) VALUES (2, N'9', N'12', N'1', N'17/08/2020', N'16:59 49')
SET IDENTITY_INSERT [dbo].[tbl_ll_exam_series_call] OFF
GO
/****** Object:  StoredProcedure [dbo].[RTO_spAdminChooseService]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spAdminChooseService]  
(  
@ChooseServiceID_INT int=0,@ServiceID_INT int=0,@ServiceName_VCR varchar(50)=Null,@CentreCode_VCR varchar(50)=Null,@ChooseServiceCreateDate_DAT datetime=Null,
@ChooseServiceModifyDate_DAT datetime=Null,@ChooseServiceActiveStatus_INT int=0,@Event varchar(20)
)
AS
BEGIN  
    IF(@Event='Select')  
    BEGIN  
	 SELECT * FROM RTO_tblAdminChooseService where CentreCode_VCR=@CentreCode_VCR and ChooseServiceActiveStatus_INT=1 ORDER BY ServiceName_VCR ASC;
    END
	ELSE IF(@Event='ChadminService')  
    BEGIN  
   	 select SD.ServiceName_VCR AS ServiceName_VCR,ACS.ServiceID_INT AS ServiceID_INT from RTO_tblAdminChooseService As ACS inner join RTO_tblServiceDetails AS SD on ACS.ServiceID_INT=SD.ServiceID_INT where ACS.ChooseServiceActiveStatus_INT=1 and SD.ServiceActiveStatus_INT=1 and ACS.CentreCode_VCR=@CentreCode_VCR;
    END
	 ELSE IF(@Event='adminService')
    BEGIN  
	  SELECT SD.ServiceID_INT as ServiceID_INT,SD.ServiceName_VCR as ServiceName_VCR,SD.ServiceShortName_VCR as ServiceShortName_VCR,ACS.ChooseServiceCreateDate_DAT as ChooseServiceCreateDate_DAT,ACS.CentreCode_VCR AS CentreCode_VCR FROM RTO_tblAdminChooseService AS ACS inner join RTO_tblServiceDetails AS SD on ACS.ServiceID_INT=SD.ServiceID_INT  WHERE CentreCode_VCR=@CentreCode_VCR AND ACS.ChooseServiceActiveStatus_INT=1 AND SD.ServiceActiveStatus_INT=1  ORDER BY ServiceName_VCR ASC END
	 ELSE IF(@Event='adminSrvcdlt')
    BEGIN  
	  	delete  from  RTO_tblAdminChooseService where CentreCode_VCR=@CentreCode_VCR;
    END
	 ELSE IF(@Event='VerifyService')  
    BEGIN      
	IF EXISTS (SELECT ServiceName_VCR FROM RTO_tblAdminChooseService WHERE ServiceName_VCR = @ServiceName_VCR and ServiceID_INT=@ServiceID_INT and CentreCode_VCR=@CentreCode_VCR AND ChooseServiceActiveStatus_INT=1 )
	SELECT 1
	ELSE
	SELECT 0
    END
  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblAdminChooseService where ChooseServiceActiveStatus_INT=1 and ChooseServiceID_INT=@ChooseServiceID_INT and CentreCode_VCR=@CentreCode_VCR;
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblAdminChooseService(ServiceID_INT,ServiceName_VCR,CentreCode_VCR,ChooseServiceCreateDate_DAT,ChooseServiceModifyDate_DAT,ChooseServiceActiveStatus_INT) VALUES(@ServiceID_INT,@ServiceName_VCR,@CentreCode_VCR,GETDATE(),GETDATE(),1);
    END  
  
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblAdminChooseService SET ServiceID_INT=@ServiceID_INT,ServiceName_VCR=@ServiceName_VCR,ChooseServiceModifyDate_DAT=GETDATE() where ChooseServiceID_INT=@ChooseServiceID_INT and CentreCode_VCR=@CentreCode_VCR;
    END  
  
    ELSE IF(@Event='Delete')
    BEGIN  
  UPDATE RTO_tblAdminChooseService SET  ChooseServiceActiveStatus_INT=0 where ChooseServiceActiveStatus_INT=1 and ChooseServiceID_INT=@ChooseServiceID_INT and CentreCode_VCR=@CentreCode_VCR;
    END  
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spAssignMapping]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spAssignMapping]
(  
@AssignID_INT int=0,@ServiceID_INT int=0,@StaffID_INT int=0,@CounterID_INT int=0,@CentreCode_VCR varchar(50)=Null,@AssignCreateDate_DAT  datetime=Null,
@AssignModifyDate_DAT datetime=Null,@AssignActiveStatus_INT int=0,@Event varchar(20), @StaffCode_VCR varchar(20)=Null 
)  
AS  
BEGIN  
    IF(@Event='Select')  
    BEGIN  
        select AssignID_INT,SD.ServiceName_VCR,ACS.ServiceID_INT,RS.StaffName_VCR,RS.StaffID_INT,RC.CounterName_VCR,RC.CounterID_INT from RTO_tblServiceDetails AS SD
  inner join RTO_tblAdminChooseService AS ACS on SD.ServiceID_INT=ACS.ServiceID_INT
  inner join RTO_tblAssignMapping AS RA on ACS.ServiceID_INT=RA.ServiceID_INT  
  inner join RTO_tblStaffDetails AS RS on RA.StaffID_INT=RS.StaffID_INT
  inner join RTO_tblCounterDetails AS RC on RA.CounterID_INT=RC.CounterID_INT
  where RA.AssignActiveStatus_INT=1 and RS.StaffActiveStatus_INT=1 and RC.CounterActiveStatus_INT=1 and SD.ServiceActiveStatus_INT=1 and ACS.ChooseServiceActiveStatus_INT=1 and RA.CentreCode_VCR=@CentreCode_VCR  order by SD.ServiceName_VCR,RS.StaffName_VCR,RC.CounterName_VCR ; 
    END  
  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblAssignMapping where AssignActiveStatus_INT=1 and AssignID_INT=@AssignID_INT and CentreCode_VCR=@CentreCode_VCR;
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblAssignMapping(ServiceID_INT,StaffID_INT,CounterID_INT,CentreCode_VCR,AssignCreateDate_DAT,AssignModifyDate_DAT,AssignActiveStatus_INT) VALUES(@ServiceID_INT,@StaffID_INT,@CounterID_INT,@CentreCode_VCR,GETDATE(),GETDATE(),@AssignActiveStatus_INT);
    END  
   ELSE IF(@Event='VerifyAssignSSC')  
    BEGIN      
	IF EXISTS (SELECT * FROM RTO_tblAssignMapping WHERE StaffID_INT = @StaffID_INT and ServiceID_INT=@ServiceID_INT and CounterID_INT=@CounterID_INT and CentreCode_VCR=@CentreCode_VCR AND AssignActiveStatus_INT=1 )
	SELECT 1
	ELSE
	SELECT 0
    END
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblAssignMapping SET ServiceID_INT=@ServiceID_INT,StaffID_INT=@StaffID_INT,CounterID_INT=@CounterID_INT,AssignModifyDate_DAT=GETDATE() where AssignID_INT=@AssignID_INT and CentreCode_VCR=@CentreCode_VCR;
    END  
  
    ELSE IF (@Event='Delete') 
    BEGIN  
  UPDATE RTO_tblAssignMapping SET  AssignActiveStatus_INT=0 where AssignActiveStatus_INT=1 and AssignID_INT=@AssignID_INT and CentreCode_VCR=@CentreCode_VCR;
    END  

	 ELSE IF (@Event='GetServicesOfStaff') 
    BEGIN  
  Select AssignID_INT,RA.ServiceID_INT,SD.ServiceName_VCR AS ServiceName_VCR,RS.StaffName_VCR,RS.StaffID_INT,RC.CounterID_INT,RC.CounterName_VCR
	   from RTO_tblAssignMapping As RA
	   inner join RTO_tblStaffDetails AS RS on RA.StaffID_INT=RS.StaffID_INT
	   inner join RTO_tblCounterDetails AS RC on RA.CounterID_INT=RC.CounterID_INT
	   inner join RTO_tblServiceDetails AS SD on RA.ServiceID_INT=SD.ServiceID_INT

	   where RA.AssignActiveStatus_INT=1 and RS.StaffActiveStatus_INT=1 and RC.CounterActiveStatus_INT=1 and SD.ServiceActiveStatus_INT=1 and RA.CentreCode_VCR=@CentreCode_VCR and RS.StaffCode_VCR=@StaffCode_VCR
	   order by SD.ServiceName_VCR,RS.StaffName_VCR,RC.CounterName_VCR ;  

    END 


END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spCallNextToken]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[RTO_spCallNextToken]
(  
@CurrTokenState_VCR varchar(max)=Null
,@CurrCounterCode_VCR varchar(50)=Null
,@CurrStaffCode_VCR varchar(50)=Null
,@CentreCode_VCR VARCHAR(50)=Null
,@StaffCode_VCR VARCHAR(50)=Null
,@Event varchar(100)
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT top 1 TokenNo_INT FROM RTO_tblTokenDetails where TokenActiveStatus_INT=2 order by TokenNo_INT desc;
    END  
    ELSE IF(@Event='GetCounterANDServicesOfStaff')  
    BEGIN 
	 Select AssignID_INT,RA.ServiceID_INT,SD.ServiceName_VCR AS ServiceName_VCR,RS.StaffName_VCR,RS.StaffID_INT,RC.CounterID_INT,RC.CounterName_VCR,RC.CounterCode_VCR
	   from RTO_tblAssignMapping As RA
	   inner join RTO_tblStaffDetails AS RS on RA.StaffID_INT=RS.StaffID_INT
	   inner join RTO_tblCounterDetails AS RC on RA.CounterID_INT=RC.CounterID_INT
	   inner join RTO_tblServiceDetails AS SD on RA.ServiceID_INT=SD.ServiceID_INT
	   where RA.AssignActiveStatus_INT=1 and RS.StaffActiveStatus_INT=1 and RC.CounterActiveStatus_INT=1 and SD.ServiceActiveStatus_INT=1 and RS.StaffCode_VCR=@StaffCode_VCR
	   order by SD.ServiceName_VCR,RS.StaffName_VCR,RC.CounterName_VCR ; 

	 --SELECT * FROM RTO_tblStaffDetails WHERE StaffCode_VCR=@StaffCode_VCR;
    END 
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE top (1) RTO_tblTokenDetails SET CurrTokenState_VCR=@CurrTokenState_VCR, CurrCounterCode_VCR=@CurrCounterCode_VCR, CurrStaffCode_VCR=@CurrStaffCode_VCR, TokenActiveStatus_INT=2  where TokenActiveStatus_INT=1;
    END  
     ELSE IF(@Event='Total')  
    BEGIN  
    SELECT  count(TokenNo_INT)-1 as TokenNo_INT  FROM RTO_tblTokenDetails where TokenActiveStatus_INT=2;
    END  
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spCentreDetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- StoredProcedure [dbo].[spRTO_CentreDetails]
-- Author:		<Pravanjan Nayak>
-- Modified: <Shakti Prasad Mishra> 
-- Create date: <13 Jul 2020>
-- Description:	<Procedure for performing operations on RTO Centre>
-- =============================================


CREATE PROC [dbo].[RTO_spCentreDetails]  
(  
@CentreID_INT int=0 , @CentreCode_VCR varchar(50)=Null ,@CentreLogo_VCR varchar(50)=Null ,  @CentreName_VCR varchar(50)=Null , @CentreEmailID_VCR varchar(50)=Null, @CentreMobileNo_VCR varchar(50)=Null ,
@CentreAddress_VCR varchar(50)=Null ,@CentrePINCode_VCR varchar(15)=Null,  @CentreCreateDate_DAT datetime=Null , @CentreModifyDate_DAT datetime=Null , @CentreActiveStatus_INT int=0 , @CentreLoginStatus_INT int=0 , @CentreTimeSet_INT int=0 , @Event varchar(20) , @LoginType_VCR varchar(20)=Null, @LoginPassword_VCR varchar(50)=Null,
@temp varchar(50)=Null
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT * FROM RTO_tblCentreDetails where CentreActiveStatus_INT=1 ORDER BY CentreName_VCR ASC;
    END
	
	ELSE IF(@Event='Verify')  
    BEGIN  
    SELECT COUNT(*) FROM RTO_tblCentreDetails where CentreActiveStatus_INT=1 and CentreName_VCR = @CentreName_VCR;
    END 

  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblCentreDetails where CentreActiveStatus_INT=1 and CentreID_INT = @CentreID_INT;
    END
	

    ELSE IF(@Event='Add')  
    BEGIN
	
	INSERT INTO RTO_tblCentreDetails(CentreCode_VCR , CentreLogo_VCR , CentreName_VCR , CentreEmailID_VCR ,  CentreMobileNo_VCR, CentreAddress_VCR , CentrePINCode_VCR, CentreCreateDate_DAT , CentreModifyDate_DAT , CentreActiveStatus_INT , CentreLoginStatus_INT , CentreTimeSet_INT)
	VALUES(@CentreCode_VCR,@CentreLogo_VCR,@CentreName_VCR,@CentreEmailID_VCR,@CentreMobileNo_VCR,@CentreAddress_VCR,@CentrePINCode_VCR,GETDATE(),GETDATE(),1,0,0);
	
	INSERT INTO RTO_tblLoginCredential(LoginCode_VCR, LoginEmailID_VCR, LoginPassword_VCR, LoginType_VCR, LoginActiveStatus_INT) VALUES (@CentreCode_VCR, @CentreEmailID_VCR,'',N'Admin', 1);
	END  
  
    ELSE IF(@Event='Update')
    BEGIN
	set	@temp = (select CentreEmailID_VCR from RTO_tblCentreDetails where CentreID_INT=@CentreID_INT);
	UPDATE RTO_tblLoginCredential  set LoginEmailID_VCR = @CentreEmailID_VCR where LoginEmailID_VCR=@temp;
    UPDATE RTO_tblCentreDetails SET CentreCode_VCR=@CentreCode_VCR,CentreLogo_VCR=@CentreCode_VCR,CentreName_VCR=@CentreName_VCR , CentreEmailID_VCR=@CentreEmailID_VCR, CentreMobileNo_VCR=@CentreMobileNo_VCR, CentreAddress_VCR=@CentreAddress_VCR ,CentrePINCode_VCR=@CentrePINCode_VCR, CentreModifyDate_DAT=GETDATE() where CentreID_INT=@CentreID_INT;
    END  
  
    ELSE IF(@Event='Delete')
    BEGIN  
  UPDATE RTO_tblCentreDetails SET  CentreActiveStatus_INT=0, @temp=CentreCode_VCR where CentreActiveStatus_INT=1 and CentreID_INT=@CentreID_INT;
  --SET @temp = SELECT CentreCode_VCR FROM RTO_tblCentreDetails 
  DELETE FROM [RTO_tblLoginCredential] WHERE [LoginCode_VCR] = @temp;

    END  
	ELSE IF(@Event='SetDTime')  
    BEGIN  
   UPDATE RTO_tblCentreDetails SET CentreTimeSet_INT=@CentreTimeSet_INT  where CentreCode_VCR=CentreCode_VCR;
    END 
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spCounterDetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spCounterDetails]  
(  
@CounterID_INT int=0,@CounterName_VCR varchar(50)=Null,@CounterCode_VCR varchar(50)=Null,@DeviceCode_VCR varchar(50)=Null,@CentreCode_VCR varchar(50)=Null,@CounterCreateDate_DAT datetime=Null,@CounterModifyDate_DAT datetime=Null,@CounterActivestatus_INT int=0,@Event varchar(20)
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT * FROM RTO_tblCounterDetails where CounterActiveStatus_INT=1 and CentreCode_VCR=@CentreCode_VCR ORDER BY CounterName_VCR  ASC;
	
    END  
  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblCounterDetails where CounterActiveStatus_INT=1 and CounterID_INT=@CounterID_INT and CentreCode_VCR=@CentreCode_VCR; 
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblCounterDetails(CounterName_VCR,CounterCode_VCR,DeviceCode_VCR,CentreCode_VCR,CounterCreateDate_DAT,CounterModifyDate_DAT,CounterActiveStatus_INT) VALUES(@CounterName_VCR,@CounterCode_VCR,@DeviceCode_VCR,@CentreCode_VCR,GETDATE(),GETDATE(),1);
    END  
  
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblCounterDetails SET CounterName_VCR=@CounterName_VCR,CounterCode_VCR=@CounterCode_VCR,DeviceCode_VCR=@DeviceCode_VCR,CentreCode_VCR=@CentreCode_VCR,CounterModifyDate_DAT=GETDATE() where CounterID_INT=@CounterID_INT  and CentreCode_VCR=@CentreCode_VCR;
    END  
  ELSE IF(@Event='VerifyCounter')  
    BEGIN      
	IF EXISTS (SELECT CounterName_VCR,DeviceCode_VCR FROM RTO_tblCounterDetails WHERE CounterName_VCR = @CounterName_VCR and CounterID_INT=@CounterID_INT and CounterCode_VCR=@CounterCode_VCR AND CounterActivestatus_INT=1 )
	SELECT 1
	ELSE
	SELECT 0
    END
    ELSE  
    BEGIN  
  UPDATE RTO_tblCounterDetails SET  CounterActiveStatus_INT=0 where CounterActiveStatus_INT=1 and CounterID_INT=@CounterID_INT  and CentreCode_VCR=@CentreCode_VCR;
    END  
END  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spGenerateReports]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- StoredProcedure [dbo].[RTO_spGenerateReports]
-- Author:		<Shakti Prasad Mishra>
-- Create date: <04 Aug 2020>
-- Description:	<Procedure to generate reports>
-- =============================================


CREATE PROC [dbo].[RTO_spGenerateReports]  
(  
@CentreCode_VCR varchar(50)=Null, @Authorisation varchar(20)=Null, @Event varchar(20)=Null,
@CentreName_VCR varchar(50)=Null, @temp varchar(50)=Null
)  
AS   
BEGIN  
    IF(@Event='GetCentres' and @Authorisation='SA')
    BEGIN  
    SELECT CentreName_VCR FROM RTO_tblCentreDetails where CentreActiveStatus_INT=1 ORDER BY CentreName_VCR ASC;
    END
	
	ELSE IF(@Event='GetCentreReport' and @Authorisation='SA')
    BEGIN  
    
	SET @temp= (SELECT CentreCode_VCR FROM RTO_tblCentreDetails WHERE (CentreName_VCR = @CentreName_VCR AND CentreActiveStatus_INT=1));
	
	SELECT * FROM RTO_tblTokenDetails WHERE CentreCode_VCR = @temp 
    END 

END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spImportExcel]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Shakti Prasad Mishra>
-- Create date: <01082020>
-- Description:	<This stored procedure imports all data to a specified table>
-- =============================================

CREATE PROCEDURE [dbo].[RTO_spImportExcel]
	
	@TableName varchar(50)=null, @FilePath varchar(50)=null,
	@Query varchar(max)=null
AS
BEGIN
	
	SET NOCOUNT ON;
	SET @TableName = N'RTO_tblImportedDetails'

	SET @Query= 
				'SELECT * INTO '+ @TableName +' FROM OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0; Database='+ @FilePath +''', [Sheet1$]);'
					
	execute(@Query);

END
GO
/****** Object:  StoredProcedure [dbo].[RTO_spLLCallNextToken]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[RTO_spLLCallNextToken]
(  

@from_token varchar(45)=Null
,@to_token varchar(45)=Null
,@status varchar(45)=Null
,@date varchar(45)=Null
,@time varchar(45)=Null
,@Event varchar(100)
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
   select * from tbl_ll_exam_series_call where status='1' and date=@date
    END  
    ELSE IF(@Event='Insert')  
    BEGIN 
	   insert into tbl_ll_exam_series_call (from_token,to_token,status,date,time)values(@from_token,@to_token,'1',@date,@time)
    END 
    ELSE IF(@Event='Update')  
    BEGIN  
     update tbl_ll_exam_series_call set status='2' where status='1' and date=@date
    END  
       ELSE IF(@Event='Complete')  
    BEGIN  
    select count(*) as c from RTO_tblTokenDetails  where  CurrTokenState_VCR='OUT' and ApplicantBookedService_VCR='LL' ;

	--TokenSlotDate_DAT=@date and order by TokenNo_INT asc  
    END 
	 ELSE IF(@Event='Waiting')  
    BEGIN  
    select count(*) as cc from RTO_tblTokenDetails  where CurrTokenState_VCR='IN' and ApplicantBookedService_VCR='LL'  ;
    END 
	ELSE IF(@Event='GetCalledLLToken')  
    BEGIN  
    select  from_token,to_token from tbl_ll_exam_series_call where date=@date and status='1' order by id desc;
    END 
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spLogincredential]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[RTO_spLogincredential]	
	@LoginEmailID_VCR varchar(50)=null,
	@LoginPassword_VCR varchar(50)=null,
	@Event varchar(50)
		
AS
BEGIN  
    IF(@Event='checklogin')  
    BEGIN  
	select * from RTO_tblLoginCredential where LoginActiveStatus_INT=1 and LoginEmailID_VCR = @LoginEmailID_VCR and LoginPassword_VCR = @LoginPassword_VCR;
    END	
	ELSE IF(@Event='Forgetemail')  
    BEGIN  
	select * from RTO_tblLoginCredential where LoginActiveStatus_INT=1 and LoginEmailID_VCR = @LoginEmailID_VCR;
    END	
END  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spLoginVerify]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RTO_spLoginVerify]
	-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>

	@LoginEmailID_VCR varchar(50),
	@LoginPassword_VCR varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	select * from [RTO_tblLoginCredential] where LoginActiveStatus_INT=1 and LoginEmailID_VCR = @LoginEmailID_VCR and LoginPassword_VCR = @LoginPassword_VCR
    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END
GO
/****** Object:  StoredProcedure [dbo].[RTO_spServiceDetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- StoredProcedure [dbo].[spRTO_ServiceDetails]
-- Author:		<Pravanjan Nayak>
-- Modified: <Shakti Prasad Mishra> 
-- Create date: <13 Jul 2020>
-- Description:	<Procedure for verifying performing operations on Services>
-- =============================================


CREATE PROC [dbo].[RTO_spServiceDetails]  
(  
@ServiceID_INT int=0,@ServiceName_VCR varchar(50)=Null,@ServiceShortName_VCR varchar(15)=Null,@ServiceType_VCR varchar(50)=Null,@ServiceCreateDate_DAT datetime=Null,
@ServiceModifyDate_DAT datetime=Null,@ServiceActiveStatus_INT int=Null,@Event varchar(20)=Null
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT * FROM RTO_tblServiceDetails where ServiceActiveStatus_INT=1 ORDER BY ServiceName_VCR ASC;
    END  
  ELSE IF(@Event='Edit')
    BEGIN  
    SELECT * FROM RTO_tblServiceDetails where ServiceActiveStatus_INT=1 and ServiceID_INT=@ServiceID_INT;
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblServiceDetails(ServiceName_VCR,ServiceShortName_VCR,ServiceType_VCR,ServiceCreateDate_DAT,ServiceModifyDate_DAT,ServiceActiveStatus_INT) VALUES(@ServiceName_VCR,@ServiceShortName_VCR,@ServiceType_VCR,GETDATE(),GETDATE(),1);
    END  
  
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblServiceDetails SET ServiceName_VCR=@ServiceName_VCR,ServiceShortName_VCR=@ServiceShortName_VCR,ServiceType_VCR=@ServiceType_VCR,ServiceModifyDate_DAT=GETDATE() where ServiceID_INT=@ServiceID_INT;
    END  
  
  ELSE IF(@Event='VerifyName')  
    BEGIN  
    --SELECT COUNT(*) FROM RTO_Service where ServiceActiveStatus_INT=1 and ServiceName_VCR = @ServiceName;
	--SELECT COUNT(ServiceName_VCR) FROM RTO_Service where ServiceName_VCR = @ServiceName;
	IF EXISTS (SELECT ServiceName_VCR FROM RTO_tblServiceDetails WHERE ServiceName_VCR = @ServiceName_VCR)
	SELECT 1
	ELSE
	SELECT 0
    END 

	ELSE IF(@Event='VerifyShName')  
    BEGIN  
    --SELECT COUNT(*) FROM RTO_Service where ServiceActiveStatus_INT=1 and ServiceShortName_VCR = @ServiceShortName;
    --SELECT COUNT(ServiceShortName_VCR) FROM RTO_Service where ServiceShortName_VCR = @ServiceShortName;
	IF EXISTS (SELECT ServiceShortName_VCR FROM RTO_tblServiceDetails WHERE ServiceShortName_VCR = @ServiceShortName_VCR)
	SELECT 1
	ELSE
	SELECT 0	
	END

    ELSE  IF(@Event='Delete')
    BEGIN  
  UPDATE RTO_tblServiceDetails SET  ServiceActiveStatus_INT=0 where ServiceActiveStatus_INT=1 and ServiceID_INT=@ServiceID_INT;
    END  
	
END  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spStaffDetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spStaffDetails]
(  
@StaffID_INT int=0,@StaffName_VCR varchar(50)=Null,@StaffMobileNo_VCR varchar(50)=Null,@StaffCode_VCR varchar(50)=Null, @CentreCode_VCR varchar(50)=Null,
@StaffEmailID_VCR varchar(50)=Null,@StaffCreateDate_DAT datetime=Null,@StaffModifyDate_DAT datetime=Null,@StaffActiveStatus_INT int=0,@Event varchar(20)
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT * FROM RTO_tblStaffDetails where StaffActiveStatus_INT=1 and CentreCode_VCR=@CentreCode_VCR ORDER BY StaffName_VCR ASC;
    END  
  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblStaffDetails where StaffActiveStatus_INT=1 and StaffID_INT=@StaffID_INT and CentreCode_VCR=@CentreCode_VCR ;
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblStaffDetails(StaffCode_VCR, CentreCode_VCR, StaffName_VCR, StaffEmailID_VCR, StaffMobileNo_VCR, StaffCreateDate_DAT, StaffModifyDate_DAT, StaffActiveStatus_INT) VALUES(@StaffCode_VCR,@CentreCode_VCR, @StaffName_VCR, @StaffEmailID_VCR, @StaffMobileNo_VCR, GETDATE(),GETDATE(),1);
	
	INSERT INTO RTO_tblLoginCredential(LoginCode_VCR,LoginEmailID_VCR,LoginPassword_VCR,LoginType_VCR,LoginActiveStatus_INT) VALUES(@StaffCode_VCR,@StaffEmailID_VCR,'','user',1);
    END  
  
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblStaffDetails SET StaffName_VCR=@StaffName_VCR, StaffMobileNo_VCR=@StaffMobileNo_VCR, StaffCode_VCR=@StaffCode_VCR, StaffEmailID_VCR=@StaffEmailID_VCR,StaffModifyDate_DAT=GETDATE() where StaffID_INT=@StaffID_INT and CentreCode_VCR=@CentreCode_VCR ;
    END  
  
    ELSE  
    BEGIN  
  UPDATE RTO_tblStaffDetails SET  StaffActiveStatus_INT=0 where StaffActiveStatus_INT=1 and StaffID_INT=@StaffID_INT and CentreCode_VCR=@CentreCode_VCR ;
    END  
END  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spSuperAdminDetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spSuperAdminDetails]
(  
@SuperAdminID_INT int=0,@SuperAdminName_VCR varchar(50)=Null,@SuperAdminEmailID_VCR varchar(50)=Null,@SuperAdminMobileNo_VCR varchar(50)=Null,@SuperAdminAddress_VCR varchar(max)=Null,@SuperAdminCreateDate_DAT datetime=null,@SuperAdminModifyDate_DAT datetime=null,@SuperAdminActiveStatus_INT int=0,@Event varchar(20)
)  
AS   
BEGIN  
    IF(@Event='Select')  
    BEGIN  
    SELECT * FROM RTO_tblSuperAdminDetails where SuperAdminActiveStatus_INT=1 ORDER BY SuperAdminName_VCR ASC;
    END  
  ELSE IF(@Event='Edit')  
    BEGIN  
    SELECT * FROM RTO_tblSuperAdminDetails where SuperAdminActiveStatus_INT=1 and SuperAdminID_INT=@SuperAdminID_INT;
    END 
	ELSE IF(@Event='Checkemail')  
    BEGIN  
    SELECT * FROM RTO_tblSuperAdminDetails where SuperAdminActiveStatus_INT=1 and SuperAdminEmailID_VCR=@SuperAdminEmailID_VCR;
    END 
	ELSE IF(@Event='CheckPhNo')  
    BEGIN  
    SELECT * FROM RTO_tblSuperAdminDetails where SuperAdminActiveStatus_INT=1 and SuperAdminMobileNo_VCR=@SuperAdminMobileNo_VCR;
    END 
	ELSE IF(@Event='CheckSadmin')  
    BEGIN  
    SELECT * FROM RTO_tblSuperAdminDetails where SuperAdminActiveStatus_INT=1;
    END 
    ELSE IF(@Event='Add')  
    BEGIN  
    INSERT INTO RTO_tblSuperAdminDetails(SuperAdminName_VCR,SuperAdminEmailID_VCR,SuperAdminMobileNo_VCR,SuperAdminAddress_VCR,SuperAdminCreateDate_DAT,SuperAdminModifyDate_DAT,SuperAdminActiveStatus_INT) VALUES(@SuperAdminName_VCR,@SuperAdminEmailID_VCR,@SuperAdminMobileNo_VCR,@SuperAdminAddress_VCR,GETDATE(),GETDATE(),1);
	
	INSERT INTO RTO_tblLoginCredential(LoginCode_VCR,LoginEmailID_VCR,LoginPassword_VCR,LoginType_VCR,LoginActiveStatus_INT) VALUES('SU1',@SuperAdminEmailID_VCR,'','SuperAdmin',1); 
    END  
  
    ELSE IF(@Event='Update')  
    BEGIN  
    UPDATE RTO_tblSuperAdminDetails SET SuperAdminName_VCR=@SuperAdminName_VCR,SuperAdminEmailID_VCR=@SuperAdminEmailID_VCR,SuperAdminMobileNo_VCR=@SuperAdminMobileNo_VCR,SuperAdminAddress_VCR=@SuperAdminAddress_VCR,SuperAdminModifyDate_DAT=GETDATE() where SuperAdminID_INT=@SuperAdminID_INT;
    END  
  
    ELSE  
    BEGIN  
  UPDATE RTO_tblSuperAdminDetails SET  SuperAdminActiveStatus_INT=0 where SuperAdminActiveStatus_INT=1 and SuperAdminID_INT=@SuperAdminID_INT;
    END  
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spTokenCreate]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Shakti Prasad Mishra>
-- Create date: <01082020>
-- Description:	<This stored procedure creates tokens for all the RTO centres>
-- =============================================
create PROCEDURE [dbo].[RTO_spTokenCreate]
	@x int=0,
	@y int=0,
	@sqlquery nvarchar(max) = NULL,
	@tokenNo int =0,
	@CentreCode_VCR varchar(50) = NULL,
	@ServiceName_VCR varchar(50) = NULL,
	@w int=0,
	@z int=0


AS
BEGIN

	SET NOCOUNT ON;		
		-------------partc
	
	set @x = ( select count([CentreCode_VCR]) from [RTO_tblCentreDetails])
	





	

	--set @sqlquery=
	--' insert into 
	--RTO_tblTokenDetails  ( ApplicationNo_VCR,CentreCode_VCR,ApplicantName_VCR,ApplicantSWDof_VCR,ApplicantMobileNo_VCR,ApplicantVehicle_VCR,ApplicantBookedDate_DAT,ApplicantBookedService_VCR,
	--TokenActiveStatus_INT,ApplicantBookedMode_VCR,TokenSlotDate_DAT,TokenSlotTime_VCR)
	--select '+ '' +' CONVERT(DECIMAL,[Appl No#]) AS VARCHAR, [CentreCode],[Applicant],[S/W/D/ of],CONVERT(DECIMAL,[Mobile No#]) AS VARCHAR,[Vehicle],
	
	----
	----CONVERT(datetime,RIGHT([Booking Dt],4)+SUBSTRING([Booking Dt],4,2)+LEFT([Booking Dt],2))
	----
	--CONVERT(date,[Booking Dt])

	--,
	--[BookedService],0,[BookingMode],[Slot Date],[Slot Time] from RTO_tblImportedDetails
	--where [Slot Date] = CONVERT(date, getdate()) and CentreCode = N'''+@CentreCode_VCR+''''	




		



	--set @w= (select  count (distinct CentreCode_VCR) from RTO_tblTokenDetails)

	--set @z= (select  count (distinct ApplicantBookedService_VCR) from RTO_tblTokenDetails)



	--while (@w>0)
	----begin while
	--begin











	--set @sqlquery=
	--' insert into 
	--RTO_tblTokenDetails  ( ApplicationNo_VCR,CentreCode_VCR,ApplicantName_VCR,ApplicantSWDof_VCR,ApplicantMobileNo_VCR,ApplicantVehicle_VCR,ApplicantBookedDate_DAT,ApplicantBookedService_VCR,
	--TokenActiveStatus_INT,ApplicantBookedMode_VCR,TokenSlotDate_DAT,TokenSlotTime_VCR)
	--select '+ '' +' CONVERT(DECIMAL,[Appl No#]) AS VARCHAR, [CentreCode],[Applicant],[S/W/D/ of],CONVERT(DECIMAL,[Mobile No#]) AS VARCHAR,[Vehicle],
	
	----
	----CONVERT(datetime,RIGHT([Booking Dt],4)+SUBSTRING([Booking Dt],4,2)+LEFT([Booking Dt],2))
	----
	--CONVERT(date,[Booking Dt])

	--,
	--[BookedService],0,[BookingMode],[Slot Date],[Slot Time] from RTO_tblImportedDetails
	--where [Slot Date] = CONVERT(date, getdate())'	

	--execute(@sqlquery)










	--set @tokenNo=0
	--update RTO_tblTokenDetails
	
	----set @tokenNo = TokenNo_INT = @tokenNo+1 where CentreCode_VCR=@CentreCode_VCR

	--set @tokenNo = TokenNo_INT = @tokenNo+1 where ApplicantBookedService_VCR=@ServiceName_VCR


	----endwhile
	--end










	while (@x>0)
	--while loop begins
	begin	
	
	if	(Select CentreActiveStatus_INT from [RTO_tblCentreDetails] where CentreID_INT=@x)=1
	--if begin
	begin		
	set @CentreCode_VCR = (select [CentreCode_VCR] from [RTO_tblCentreDetails] where CentreID_INT =@x)
	
	set @y = ( select count([ServiceName_VCR]) from [RTO_tblServiceDetails])


	while(@y>0)
	--while for services
	begin	


			set @tokenNo =0

	set @ServiceName_VCR = (select [ServiceName_VCR] from [RTO_tblServiceDetails] where ServiceID_INT =@y)



	if	(Select ServiceActiveStatus_INT from [RTO_tblServiceDetails] where ServiceID_INT=@y)=1
	--if start
	begin
		
	
	set @sqlquery=
	' insert into 
	RTO_tblTokenDetails  ( ApplicationNo_VCR,CentreCode_VCR,ApplicantName_VCR,ApplicantSWDof_VCR,ApplicantMobileNo_VCR,ApplicantVehicle_VCR,ApplicantBookedDate_DAT,ApplicantBookedService_VCR,
	TokenActiveStatus_INT,ApplicantBookedMode_VCR,TokenSlotDate_DAT,TokenSlotTime_VCR)
	select '+ '' +' CONVERT(DECIMAL,[Appl No#]) AS VARCHAR, [CentreCode],[Applicant],[S/W/D/ of],CONVERT(DECIMAL,[Mobile No#]) AS VARCHAR,[Vehicle],
	
	--
	--CONVERT(datetime,RIGHT([Booking Dt],4)+SUBSTRING([Booking Dt],4,2)+LEFT([Booking Dt],2))
	--
	CONVERT(date,[Booking Dt])

	,
	[BookedService],0,[BookingMode],[Slot Date],[Slot Time] from RTO_tblImportedDetails
	where ([Slot Date] = CONVERT(date, getdate()) and [CentreCode] =  ''' + @CentreCode_VCR + '''     and [BookedService] =  ''' + @ServiceName_VCR + ''' )  '

	execute(@sqlquery)
	   
	
	--set @tokenNo=0
	update RTO_tblTokenDetails
	
	--set @tokenNo = TokenNo_INT = @tokenNo+1 where CentreCode_VCR=@CentreCode_VCR

	set @tokenNo = TokenNo_INT = @tokenNo+1 where ( CentreCode_VCR=@CentreCode_VCR and ApplicantBookedService_VCR=@ServiceName_VCR )
	--where ApplicantBookedService_VCR=@ServiceName_VCR

	--if for services end
	end

	set @y=@y-1
	--while services end
	end
	--if end
	end
	set @x=@x-1
	--while ends
	end
	--------------------------------partc end

END
GO
/****** Object:  StoredProcedure [dbo].[RTO_spTokendetails]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RTO_spTokendetails]  
(  
@TokenID_INT int=0,@TokenNo_INT int=0,@ApplicationNo_VCR varchar(50)=Null,@CentreCode_VCR varchar(50)=Null,@ApplicantName_VCR varchar(50)=Null,@ApplicantSWDof_VCR varchar(50)=Null,@ApplicantMobileNo_VCR varchar(50)=Null,@ApplicantVehicle_VCR varchar(50)=Null,@ApplicantBookedDate_DAT datetime=Null,@ApplicantBookedService_VCR varchar(50)=Null,@TokenActiveStatus_INT int=0,@ApplicantBookedMode_VCR varchar(20)=Null,@ApplicantResult_VCR varchar(50)=Null,@TokenSlotDate_DAT datetime=Null,@TokenSlotTime_VCR varchar(50)=Null,@CurrServiceName_VCR varchar(50)=Null,@CurrCounterCode_VCR varchar(50)=Null,@CurrStaffCode_VCR varchar(50)=Null,@CurrTokenState_VCR varchar(50)=Null,@TokenStartTime_DAT datetime=Null,@TokenEndTime_DAT datetime=Null,@TokenTotServiceTime_VCR varchar(50)=Null,@Event varchar(30)
)
AS
BEGIN  
    IF(@Event='SlotDetails')  
    BEGIN  
	   SELECT top 1 count(TokenSlotTime_VCR) as NoSlot,TokenSlotTime_VCR FROM RTO_tblTokenDetails where TokenSlotDate_DAT=CONVERT(date,GETDATE()) and TokenActiveStatus_INT='0' and CentreCode_VCR=@CentreCode_VCR  group by TokenSlotTime_VCR;
    END
	ELSE IF(@Event='SWSlotDetails')  
    BEGIN  
SELECT count(TokenSlotTime_VCR) as NoSlot,TokenSlotTime_VCR,ApplicantBookedService_VCR FROM RTO_tblTokenDetails where TokenSlotDate_DAT=CONVERT(date,GETDATE()) and TokenActiveStatus_INT='0' and CentreCode_VCR=@CentreCode_VCR and TokenSlotTime_VCR=@TokenSlotTime_VCR  group by TokenSlotTime_VCR,ApplicantBookedService_VCR;
    END
	ELSE IF(@Event='TokenDetails')  
    BEGIN  
SELECT * FROM RTO_tblTokenDetails where TokenSlotDate_DAT=CONVERT(date,GETDATE()) and TokenSlotTime_VCR=@TokenSlotTime_VCR and CentreCode_VCR=@CentreCode_VCR and TokenActiveStatus_INT='0' and ApplicantBookedService_VCR=@ApplicantBookedService_VCR;
    END
	ELSE IF(@Event='QRSlotDetails')  
    BEGIN  
SELECT top 1 count(TokenSlotTime_VCR) as NoSlot,TokenSlotTime_VCR FROM RTO_tblTokenDetails where convert(datetime,TokenSlotDate_DAT,105)=convert(datetime, @TokenSlotDate_DAT, 105) and TokenActiveStatus_INT='0' and CentreCode_VCR=@CentreCode_VCR and ApplicationNo_VCR=@ApplicationNo_VCR and ApplicantBookedService_VCR=@ApplicantBookedService_VCR   group by TokenSlotTime_VCR;
    END
	ELSE IF(@Event='QRTokenDetails')  
    BEGIN  
SELECT * FROM RTO_tblTokenDetails where TokenSlotDate_DAT=convert(datetime, @TokenSlotDate_DAT, 105) and CentreCode_VCR=@CentreCode_VCR and TokenActiveStatus_INT='0' and ApplicationNo_VCR=@ApplicationNo_VCR and ApplicantBookedService_VCR=@ApplicantBookedService_VCR ;
    END
	ELSE IF(@Event='QRUpdatesTokenDetails')  
    BEGIN  
update RTO_tblTokenDetails set TokenStartTime_DAT=CONVERT(time, GETDATE()),CurrTokenState_VCR=@CurrTokenState_VCR,TokenActiveStatus_INT='2' where ApplicationNo_VCR=@ApplicationNo_VCR and TokenSlotDate_DAT=CONVERT(date,GETDATE()) and CentreCode_VCR=@CentreCode_VCR;
    END
	ELSE IF(@Event='UpdateslotStatus')  
    BEGIN  
Update  RTO_tblTokenDetails set TokenActiveStatus_INT='1'  where TokenSlotDate_DAT=CONVERT(date,GETDATE()) and TokenSlotTime_VCR=@TokenSlotTime_VCR and ApplicantBookedService_VCR=@ApplicantBookedService_VCR and CentreCode_VCR=@CentreCode_VCR and TokenActiveStatus_INT='0' ;
    END
END  
  
GO
/****** Object:  StoredProcedure [dbo].[RTO_spTokenDisplay]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RTO_spTokenDisplay]
(
@TokenID_INT int=0,@TokenNo_INT int=0,@ApplicationNo_VCR varchar(50)=Null,@CentreCode_VCR varchar(50)=Null,@ApplicantName_VCR varchar(50)=Null,@ApplicantSWDof_VCR varchar(50)=Null,@ApplicantMobileNo_VCR varchar(50)=Null,@ApplicantVehicle_VCR varchar(50)=Null,@ApplicantBookedDate_DAT datetime=Null,@ApplicantBookedService_VCR varchar(50)=Null,@TokenActiveStatus_INT int=0,@ApplicantBookedMode_VCR varchar(20)=Null,@ApplicantResult_VCR varchar(50)=Null,@TokenSlotDate_DAT datetime=Null,@TokenSlotTime_VCR varchar(50)=Null,@CurrServiceName_VCR varchar(50)=Null,@CurrCounterCode_VCR varchar(50)=Null,@CurrStaffCode_VCR varchar(50)=Null,@CurrTokenState_VCR varchar(50)=Null,@TokenStartTime_DAT datetime=Null,@TokenEndTime_DAT datetime=Null,@TokenTotServiceTime_VCR varchar(50)=Null,@Event varchar(20)

)

AS
BEGIN  
    IF(@Event='DisplayDetails')  
    BEGIN  
	   SELECT top 1 T.TokenNo_INT,C.CounterName_VCR FROM RTO_tblTokenDetails T
	   inner join RTO_tblCounterDetails C on (T.CurrCounterCode_VCR=C.CounterCode_VCR)
	   inner join RTO_tblAssignMapping A on (C.CounterID_INT=A.CounterID_INT)
	   where T.TokenSlotDate_DAT=CONVERT(date,GETDATE())
	   and T.TokenActiveStatus_INT='1' and  T.ApplicantBookedService_VCR=@ApplicantBookedService_VCR 
	   and T.CentreCode_VCR=@CentreCode_VCR group by C.CounterName_VCR, T.TokenNo_INT ORDER BY T.TokenNo_INT asc
    END 
	ELSE IF(@Event='STokenDetails')  
    BEGIN  
SELECT top 3 T.TokenNo_INT,C.CounterName_VCR FROM RTO_tblTokenDetails T
	   inner join RTO_tblCounterDetails C on (T.CurrCounterCode_VCR=C.CounterCode_VCR)
	   inner join RTO_tblAssignMapping A on (C.CounterID_INT=A.CounterID_INT)
	   where T.TokenSlotDate_DAT=CONVERT(date,GETDATE())
	   and T.TokenActiveStatus_INT='1' and  T.ApplicantBookedService_VCR=@ApplicantBookedService_VCR 
	   and T.CentreCode_VCR=@CentreCode_VCR group by C.CounterName_VCR, T.TokenNo_INT ORDER BY T.TokenNo_INT asc    END
	END
GO
/****** Object:  StoredProcedure [dbo].[RTO_spTokenHistory]    Script Date: 17/08/2020 7:17:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Shakti Prasad Mishra>
-- Create date: <01082020>
-- Description:	<This stored procedure saves all token records for the day as history for all RTO centres>
-- =============================================
CREATE PROCEDURE [dbo].[RTO_spTokenHistory]

AS
BEGIN

	SET NOCOUNT ON;
		
INSERT INTO RTO_tblTokenHistory
	(

	[TokenNo_INT],
	[ApplicationNo_VCR],
	[CentreCode_VCR],
	[ApplicantName_VCR],
	[ApplicantSWDof_VCR],
	[ApplicantMobileNo_VCR],
	[ApplicantVehicle_VCR],
	[ApplicantBookedDate_DAT],
	[ApplicantBookedService_VCR],
	[ApplicantBookedMode_VCR],
	[ApplicantResult_VCR],

	[TokenActiveStatus_INT],	
	[TokenSlotDate_DAT],
	[TokenSlotTime_VCR],
	[TokenStartTime_DAT],
	[TokenEndTime_DAT],
	[TokenTotServiceTime_VCR],

	[CurrServiceName_VCR],
	[CurrCounterCode_VCR],
	[CurrStaffCode_VCR],
	[CurrTokenState_VCR]
	
	)
	

	SELECT 
	
	[TokenNo_INT],
	[ApplicationNo_VCR],
	[CentreCode_VCR],
	[ApplicantName_VCR],
	[ApplicantSWDof_VCR],
	[ApplicantMobileNo_VCR],
	[ApplicantVehicle_VCR],
	[ApplicantBookedDate_DAT],
	[ApplicantBookedService_VCR],
	[ApplicantBookedMode_VCR],
	[ApplicantResult_VCR],

	[TokenActiveStatus_INT],	
	[TokenSlotDate_DAT],
	[TokenSlotTime_VCR],
	[TokenStartTime_DAT],
	[TokenEndTime_DAT],
	[TokenTotServiceTime_VCR],

	[CurrServiceName_VCR],
	[CurrCounterCode_VCR],
	[CurrStaffCode_VCR],
	[CurrTokenState_VCR]
		
	FROM RTO_tblTokenDetails

	TRUNCATE TABLE RTO_tblTokenDetails
	
END
GO
USE [master]
GO
