<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>


  <connectionStrings>

    <!--<add name="RTOConnectionString" connectionString="Data Source=DESKTOP-OHRF4FO\PRAVANJAN2017;Initial Catalog=RTO;Persist Security Info=True; User ID=sa;Password=sql@2017;" providerName="System.Data.SqlClient"/>-->
    <add name="RTOConnectionString" connectionString="Data Source=DESKTOP-DRRTKFN\SERVER;Initial Catalog=RTO19;Persist Security Info=True; User ID=sa;Password=sql@2017;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="LoginInfo.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
